<div align="center">
	<h1><%= @applicant.user.name %></h1>
	<% if @applicant.user.logo.present? %>
		<%= image_tag(@applicant.user.logo) %><br />
	<% else %>
		<%= image_tag("nologo.jpg") %><br />
	<% end %>
	<% @applicant.user.clientprofiles.each do |clientprofile| %>
		<h3><%= clientprofile.title %></h3><br />
		<p><%= sanitize(clientprofile.content) %></p>
	<% end %>
<br /><br />
<h3><%= @applicant.position %></h3>
</div>

<% if @applicant.deadline.nil? %>
	<p>We have been looking for someone to apply for this position since <%= @applicant.created_at.strftime("%m-%d-%Y") %>. Apply right now before someone else takes this position! First qualified applicant may start as soon as possible.</p>
	<% else %>
	<p>
		We have been looking for someone to apply for this position since <%= @applicant.created_at.strftime("%m-%d-%Y") %>. Apply right now before the deadline of <%= @applicant.deadline.strftime("%m-%d-%Y") %> passes away or someone else could take the position before you do. Read the details below and if you think you are the person we are looking for, just follow the instructions of application.
		<% if Date.today.strftime("%m").to_i == @applicant.deadline.strftime("%M").to_i %>
		Hurry! You only have <%= pluralize(Date.today.strftime("%d").to_i - @applicant.deadline.strftime("%d").to_i, "day") %> left!
		<% end %>
	</p>
<% end %>

<p>
  <b>Responsibilities:</b>
  <%= sanitize(@applicant.responsibilities) %>
</p>

<p>
  <b>Requirements:</b>
  <%= sanitize(@applicant.requirements) %>
</p>
<br />
<p><%= @applicant.message unless @applicant.message.nil? %></p>

<%= link_to 'Back', applicants_path, class: "btn btn-success" %>
<br /><br />
<div align="center">
  <% if @applicant.accept_resume? && !signed_in? %>
    <h3>Apply Now!</h3>
    <%= render 'applicantresumes/form' %>
  <% end %>
</div>