<p id="notice"><%= notice %></p>

<div align="center">
	<h1><%= @applicant.user.name %></h1>
	<% if @applicant.user.logo.present? %>
		<%= image_tag(@applicant.user.logo) %><br />
	<% else %>
		<%= image_tag("nologo.jpg") %><br />
	<% end %>
	<% @applicant.user.clientprofiles.each do |clientprofile| %>
		<h3><%= clientprofile.title %></h3><br />
		<p><%= clientprofile.content %></p>
	<% end %>
<br /><br />
<h3><%= @applicant.position %></h3>
</div>

<p>
  <b>Responsibilities:</b>
  <%= sanitize(@applicant.responsibilities) %>
</p>

<p>
  <b>Requirements:</b>
  <%= sanitize(@applicant.requirements) %>
</p>
<br />
<p><%= @applicant.message unless @applicant.message.nil? %></p>

<%= link_to 'Back', applicants_path, class: "btn btn-success" %>
<br /><br />
<div align="center">
  <% if @applicant.accept_resume? && !signed_in? %>
    <h3>Apply Now!</h3>
    <%= render 'applicantresumes/form' %>
  <% end %>
</div>