<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @applicant.position %>
</p>

<p>
  <b>Skills:</b>
  <%= @applicant.skills %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @applicant.qualifications %>
</p>

<%= link_to 'Back', applicants_path, class: "btn btn-success" %>
