<% if current_user == @user %>
  <%= render 'applicants/form' %>
<% end %>

<% if @user.applicants.all.count == 0 %>
  <p>We are currently not hiring any applicants right now...</p>
<% else %>
  <p>We are current hiring <%= pluralize(@user.applicants.all.count, "applicant") %></p>
<% end %>

<table class="table">
  <tr>
    <th>Position</th>
    <th>Skills</th>
    <th>Qualifications</th>
  </tr>
<% @user.applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.position %></td>
    <td><%= applicant.skills %></td>
    <td><%= applicant.qualifications %></td>
  </tr>
<% end %>
</table>