<% if current_user == @user %>
<div class="accordion" id="formaccordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#formaccordion" href="#applicantform">Request new applicant</a>
    </div>
    <div id="applicantform" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'applicants/form' %>
      </div>
    </div>
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#formaccordion" href="#applicants">View applicants</a>
  </div>
  <div id="applicants" class="accordion-body collapse">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Nationality</th>
        <th>Uploaded Resume</th>
        <th>Cover message</th>
      </tr>
    <% @user.applicantresumes.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.mobile_number %></td>
        <td><%= applicant.nationality %></td>
        <td><%= link_to "Download resume", applicant.upload_resume.url %></td>
        <td><%= truncate(strip_tags(applicant.cover_letter), length: 50) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
</div>
<% end %>
<% if @user.applicants.all.count == 0 %>
  <p>We are currently not accepting applicants at this time...</p>
<% else %>
  <p>We are current hiring <%= pluralize(@user.applicants.count, "applicant") %></p>
<% end %>

<table class="table">
  <tr>
    <th>Position</th>
    <th>Skills</th>
    <th>Qualifications</th>
  </tr>
<% @user.applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.position %></td>
    <td><%= sanitize(applicant.skills) %></td>
    <td><%= sanitize(applicant.qualifications) %></td>
    <td>
    <div class="btn-group">
      <%= link_to "Edit", edit_applicant_path(applicant), class: "btn btn-mini btn-info" %>
      <%= link_to "Remove", applicant, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-mini btn-danger" %>
    </div>
    </td>
  </tr>
<% end %>
</table>