<% if current_user == @user %>
<div class="accordion" id="formaccordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#formaccordion" href="#applicantform">Request new applicant</a>
    </div>
    <div id="applicantform" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'applicants/form' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<p>We are current hiring <%= pluralize(@user.applicants.all.count, "applicant") %></p>

<table class="table">
  <tr>
    <th>Position</th>
    <th>Skills</th>
    <th>Qualifications</th>
  </tr>
<% @user.applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.position %></td>
    <td><%= applicant.skills %></td>
    <td><%= applicant.qualifications %></td>
    <td><%= link_to "Remove", applicant, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>