<% if current_user == @user %>
<div class="accordion" id="formaccordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#formaccordion" href="#applicantform">Request new applicant</a>
    </div>
    <div id="applicantform" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'applicants/form' %>
      </div>
    </div>
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#formaccordion" href="#applicants">View applicants</a>
  </div>
  <div id="applicants" class="accordion-body collapse">
    <table class="table">
      <tr>
        <th>Date submitted</th>
        <th>Name</th>
        <th>Applied for</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Nationality</th>
        <th>Uploaded Resume</th>
        <th>Cover message</th>
        <th></th>
      </tr>
    <% @user.applicantresumes.each do |applicant| %>
      <tr>
        <td><%= applicant.created_at %></td>
        <td><%= link_to applicant.name, applicant %></td>
        <td>System Administrator</td>
        <td><%= applicant.email %></td>
        <td><%= applicant.mobile_number %></td>
        <td><%= applicant.nationality %></td>
        <td><%= link_to "Download resume", applicant.upload_resume.url %></td>
        <td><%= truncate(strip_tags(applicant.cover_letter), length: 50) %></td>
        <td><%= link_to "Remove", applicant, method: :delete, data: { confirm: "Are you sure you want to delete this data?" }, class: "btn btn-mini btn-danger" %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
</div>
<% end %>
<% if @user.applicants.all.count == 0 %>
  <p>We are currently not accepting applicants at this time...</p>
<% else %>
  <p>We are current hiring <%= pluralize(@user.applicants.count, "applicant") %></p>
<% end %>

<table class="table">
  <tr>
    <th>Date created</th>
    <th>Deadline</th>
    <th>Position</th>
    <th>Responsibilities</th>
    <th>Requirements</th>
  </tr>
<% @user.applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.created_at.strftime("%m-%d-%Y") %></td>
    <td>
      <% if applicant.deadline.nil? %>
        <font color="red">No deadline indicated</font>
      <% else %>
        <%= applicant.deadline.strftime("%m-%d-%Y") %></td>
      <% end %>
    <td><%= link_to applicant.position, applicant %></td>
    <td><%= sanitize(truncate(strip_tags(applicant.responsibilities), length: 50)) %></td>
    <td><%= sanitize(truncate(strip_tags(applicant.requirements), length: 50)) %></td>
    <% if signed_in? && @user.id == current_user.id %>
    <td>
    <div class="btn-group">
      <%= link_to "Edit", edit_applicant_path(applicant), class: "btn btn-mini btn-info" %>
      <%= link_to "Remove", applicant, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-mini btn-danger" %>
    </div>
    </td>
    <% end %>
  </tr>
<% end %>
</table>