<% if current_user.id == @user.id || current_user.admin? %>
<div class="accordion" id="product_accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#product_accordion" href="#product_form">Create new product / service</a>
    </div>
    <div id="product_form" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'products/form' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<table class="table">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.products.each do |product| %>
  <tr>
    <% if product.image.present? %>
      <td><%= link_to image_tag(product.image, size: "200x200"), product %></td>
      <% else %>
      <td><%= link_to image_tag("no_image.jpg", size: "200x200"), product %></td>
    <% end %>
    <td><%= link_to product.name, product %></td>
    <td><%= product.description %></td>
    <td><%= product.type %></td>
    <td><%= sprintf("P%0.02f", product.price) %></td>
    <% if current_user.id == @user.id || current_user.admin? %>
    <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
    <% end %>
  </tr>
<% end %>
</table>