<h1>Account Management</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.admin ? "yes" : "no" %></td>
    <td><%= link_to 'Show', user, class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-mini btn-warning" %></td>
    <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
    <% if current_user.admin? %>
    <td><%= link_to "Change Admin", changeadmin_user_url(user), method: :put, data: { confirm: "WARNING!: Admin users have full access to the database and information while non admin users have restrictions. Are you sure you want to continue?" }, class: "btn btn-mini btn-inverse" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.admin? %>
  <%= link_to 'New User', new_user_path, class: "btn btn-success" %>
<% end %>