<div align="center">
	<h1><%= @user.name %></h1>
	<% if @user.logo.present? %>
		<%= image_tag(@user.logo) %>
	<% else %>
		<%= image_tag("nologo.jpg") %>
	<% end %>
</div>

<br />

<ul class="nav nav-pills" id="myTab">
	<li class="active"><a href="#about" data-toggle="tab">About</a></li>
	<li><a href="#gallery" data-toggle="tab">Gallery</a></li>
	<li><a href="#hiring" data-toggle="tab">Hiring</a></li>
	<li><a href="#contacts" data-toggle="tab">Contacts</a></li>
</ul>

<div class="tab-content">
	<div id="about" class="tab-pane active">
		<p>
  			<%= render 'about' %>
		</p>
	</div>
	<div id="gallery" class="tab-pane">
		<%= render 'users/images' %>
	</div>
	<div id="hiring" class="tab-pane">
		<%= render 'users/hiring' %>
	</div>
	<div id="contacts" class="tab-pane">
		<strong>Email: </strong><%= @user.email %><br />
		<strong>Telephone: </strong><%= @user.telephone %>
	</div>
</div>

<br />