
<div align="center">
	<h1><%= @user.name %></h1>
	<% if @user.logo.present? %>
		<%= image_tag(@user.logo) %>
	<% else %>
		<%= image_tag("nologo.jpg") %>
	<% end %>
</div>

<br />

<ul class="nav nav-pills" id="myTab">
	<li class="active"><a href="#about" data-toggle="tab">About</a></li>
	<li><a href="#gallery" data-toggle="tab">Gallery</a></li>
	<li><a href="#products" data-toggle="tab">Products and Services</a></li>
	<li><a href="#hiring" data-toggle="tab">Hiring</a></li>
	<li><a href="#contacts" data-toggle="tab">Contacts</a></li>
</ul>

<div class="tab-content">
	<div id="about" class="tab-pane active">
		<p>
  			<%= render 'about' %>
		</p>
	</div>
	<div id="gallery" class="tab-pane">
		<%= render 'users/images' %>
	</div>
	<div id="products" class="tab-pane">
		<%= render 'products' %>
	</div>
	<div id="hiring" class="tab-pane">
		<%= render 'users/hiring' %>
	</div>
	<div id="contacts" class="tab-pane">
		<%= render 'contacts/form' %>
		<% @user.contacts.each do |contact| %>
			<%= link_to "Edit", edit_contact_path(contact) %> | 
			<%= link_to "Remove", contact, method: :delete, data: { confirm: "Are you sure you want to delete this contact information?" } %><br />
			<b><%= contact.contact_type %>: </b><%= contact.contact %><br />
			<b>Contact Person: </b><%= contact.contact_person %><br /><br />
		<% end %>
	</div>
</div>

<br />