<div class="row">
<div class="span8">
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="active item">
			<%= image_tag("Photo0109.jpg") %>
			<div class="carousel-caption">
				<p>The frontal view of Emerald Green Building</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("egc1.jpg") %>
			<div class="carousel-caption">
				<p>The frontal view of Emerald Green Building</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("egc2.jpg") %>
			<div class="carousel-caption">
				<p>Philtex Office located at 2nd floor</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("egc3.jpg") %>
			<div class="carousel-caption">
				<p>Hallway</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("egc4.jpg") %>
			<div class="carousel-caption">
				<p>Building's Terrace at 3rd floor</p>
			</div>
		</div>
	</div>
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> 
</div>

	<div class="span4">
		<%= link_to image_tag("careers.jpg"), applicants_path %>
		<small>
			Apply now and be part of our family! With <%= pluralize(@applicants.count, "Job vacancy") %>, choose one among the available job vacancies left that suits your skills and abilities
		</small>
		<br /><br /><br /><br />
		<a href="#"><%= link_to image_tag("gallery.jpg"), images_path %></a>
	</div>
</div>

<div class="row">
		<div class="span8">
			<div class="tab-content">
				<div class="tab-pane active" id="maintab">
					<%= render 'staticpages/mainpage' %>
				</div>
				<div class="tab-pane" id="aboutustab">
					<%= render 'staticpages/aboutus' %>
				</div>
				<div class="tab-pane" id="officerstab">
					<%= render 'staticpages/officers' %>
				</div>
				<div class="tab-pane" id="spaceforlease">
					<%= render 'spaceforleases/index' %>
				</div>
			</div>
		</div>
		
		<div class="span4">
			<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#maintab" data-toggle="tab">Home</a></li>
			<li><a href="#aboutustab" data-toggle="tab">About us</a></li>
			<li><a href="#spaceforlease" data-toggle="tab">Spaces for lease</a></li>
			<li><a href="#officerstab" data-toggle="tab">Officers</a></li>
			</ul>
		</div>
</div>
