<% @applicants.each do |app| %>
	<% if app.deadline.past? %>
	<% app.delete %>
	<% end %>
<% end %>

<div class="row">
		<div class="span8 scrollbared">
			<div class="tab-content">
				<div class="tab-pane active" id="maintab">
					<%= render 'staticpages/mainpage' %>
				</div>
				<div class="tab-pane" id="aboutustab">
					<%= render 'staticpages/aboutus' %>
				</div>
				<div class="tab-pane" id="officerstab">
					<%= render 'staticpages/officers' %>
				</div>
				<div class="tab-pane" id="spaceforlease">
					<%= render 'spaceforleases/index' %>
				</div>
				<div class="tab-pane" id="organizationalChart">
					<legend>Functional Organizational Chart</legend>
					<div align="center">
						<%= image_tag("Organizational_Chart.jpg") %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="span4">
			<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#maintab" data-toggle="tab">Home</a></li>
			<li><a href="#aboutustab" data-toggle="tab">About us</a></li>
			<li><a href="#spaceforlease" data-toggle="tab">Spaces for lease</a></li>
			<li><a href="#officerstab" data-toggle="tab">Officers</a></li>
			<li><a href="#organizationalChart" data-toggle="tab">Organizational Chart</a></li>
			</ul>
		</div>
</div>

<div class="row">
<div class="span8">
	<legend>Come and have a tour in our building!</legend>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="active item">
			<%= image_tag("frontal.jpg") %>
			<div class="carousel-caption">
				<p>The frontal view of Emerald Green Building</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("entrance.jpg") %>
			<div class="carousel-caption">
				<p>Entrance</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("1stairway.jpg") %>
			<div class="carousel-caption">
				<p>Ground floor stairway</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("waterpump.jpg") %>
			<div class="carousel-caption">
				<p>Waterpump to ensure strong flow of water in the building</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("2hallway.JPG") %>
			<div class="carousel-caption">
				<p>2nd floor Hallway</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("2terrace.jpg") %>
			<div class="carousel-caption">
				<p>2nd floor Terrace</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("3hallway.jpg") %>
			<div class="carousel-caption">
				<p>3rd floor Hallway</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("hallway4.jpg") %>
			<div class="carousel-caption">
				<p>4th floor Hallway</p>
			</div>
		</div>
		
		<div class="item">
			<%= image_tag("philamview.jpg") %>
			<div class="carousel-caption">
				<p>4th floor terrace. Philam Life Village on the left side and Starmall Las Piñas on the right side</p>
			</div>
		</div>

		<div class="item">
			<%= image_tag("style.jpg") %>
			<div class="carousel-caption">
				<p>4th floor terrace. Front of Starmall ahead. Emergency ladder exit on the right side</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("4terracerear.jpg") %>
			<div class="carousel-caption">
				<p>4th floor terrace's rear</p>
			</div>
		</div>
		
		<% HomeImage.all.each do |home| %>
			<div class="item">
				<%= image_tag(home.image) %>
				<div class="carousel-caption">
					<p><%= home.description %></p>
				</div>
			</div>
		<% end %>
	</div>
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> 
</div>

	<div class="span4">
		<%= link_to image_tag("careers.jpg"), applicants_path %>
		<small>
			Apply now and be part of our family! With <%= pluralize(@applicants.count, "Job vacancy") %>, choose one among the available job vacancies left that suits your skills and abilities
		</small>
		<br /><br /><br /><br />
		<a href="#"><%= link_to image_tag("gallery.jpg"), images_path %></a>
	</div>
</div>

