<h1>Gallery</h1>

<% User.all.each do |user| %>
  <% unless user.images.count == 0 %>
  <legend><%= user.name %></legend>
  <% user.images.each do |image| %>
    <div class="row">
      <div class="span3">
        <%= image_tag(image.image, size: "250x250") %>
      </div>
      <div class="span6">
        <%= image.description %>
      </div>
      <% if signed_in? && image.user_id == current_user.id %>
      <div class="span3" align="right">
        <%= link_to "Edit", edit_image_path(image), class: "btn btn-info" %>
        <%= link_to "Remove", image, method: :delete, data: { confirm: "Are you sure you want to delete this image?" }, class: "btn btn-danger" %>
      </div>
      <% end %>
      <% end %>
  <% end %>
<% end %>