<!DOCTYPE html>
<html lang="en">
<head>
  <title>Emeraldgreencorp</title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"</script>
  <![endif]-->

</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav pull-left">
					<li><%= image_tag("egclogo.jpg", size: "166x300") %></li>
				</ul>
				<ul class="nav nav-pills pull-right">
					<li><%= link_to "Home", home_path %></li>
					<li><%= link_to "Offices", offices_path %></li>
					<% if signed_in? %>
					<% if current_user.admin? %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-lock"></i>Web Content Management<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Add content to homepage", new_webprofile_path %></a></li>
								<li><%= link_to "Spaces for lease", spaceforleases_path %></li>
								<li><%= link_to "Manage Accounts", users_path %></li>
							</ul>
						</li>
					<% end %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>Account Management<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "My profile", current_user %></li>
								<li><%= link_to "Edit my profile", edit_user_path(current_user) %></li>
								<li><%=  link_to"Signout", signout_path %></li>
							</ul>
						</li>
					<% else %>
						<li><a href="#signinmodal" role="button" data-toggle="modal">Login</a></li>
					<% end %>
					<li><%= link_to "Contact us", contacts_path %></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="signinmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Signin</h3>
		</div>
		<div class="modal-body">
			<%= render 'sessions/signin' %>
		</div>
	<div class="modal-footer">
		<button class="btn btn-mini btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
	</div>
	<br /><br /><br />
	<div class="container">
		<% flash.each do |key, value| %>
		<div>
			<button type="button" class="close" data-dismiss="alert">x</button>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		</div>
		<% end %>
		<% if signed_in? %>
			<small>Account of: <%= link_to current_user.name, current_user %></small>
		<% end %>
		<br />
		<%= yield %>
	</div>
</body>
</html>
